<% extend('../layouts/dashboard-layout') %>


<div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">註冊成功</h5>
            <p class="card-text">點擊按鈕跳轉至登入頁</p>
            <a href="/auth/signin" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>